---
import type { ResolvedSeoMetadata } from '../utils/seo';

type Props = ResolvedSeoMetadata;

const {
	title,
	description,
	canonicalUrl,
	pageType,
	socialImageUrl,
	twitterCard,
	siteName,
} = Astro.props;
---

<title>{title}</title>
<meta name="description" content={description} />
<link rel="canonical" href={canonicalUrl} />

<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:url" content={canonicalUrl} />
<meta property="og:type" content={pageType} />
<meta property="og:site_name" content={siteName} />

<meta name="twitter:card" content={twitterCard} />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />

{socialImageUrl && <meta property="og:image" content={socialImageUrl} />}
{socialImageUrl && <meta name="twitter:image" content={socialImageUrl} />}
